# application-dev.yml
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/free_magazine_dev
    username: postgresql
    password: Saidakbar123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081
